.todo-item {
    padding: 24px 0 ;
    border-bottom: 1px solid rgb(57, 57, 57);
}

.btn {
    box-sizing: border-box;
    margin-right: 12px;
    padding: 4px 8px;
}

.btn.done-btn {
    min-width: 86px;
}