.main-container {
    font-weight: bold;
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 10px 64px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main-heading {
    margin: 10px 0 20px;
}

label {
    font-size: small;
}

#taskInput {
    margin: 12px 0;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    align-self: stretch;
}

#taskInput::placeholder {
    color: rgba(128, 128, 128, 0.7);
}

.add-btn {
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: white;
    color: rgb(0, 136, 255);
}

.todos-container {
    padding: 24px 0;
    background-color: rgb(236, 236, 236);
    color: rgb(57, 57, 57);
}

.todos-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.todos-title {
    text-align: center;
}

.todos-list {
    list-style-type: none;
}